{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container-fluid text-center mt-4">
    <h1>{% trans "GearUp Autoservice" %}</h1>
    <p><strong>{% trans "Best services in the world!" %}</strong></p>
    <p>{% trans "Autoservice Info" %}:</p>
    <strong>{% trans "Quantity of services" %}:</strong> {{ num_service }}<br>
    <strong>{% trans "Number of orders placed" %}:</strong> {{ num_order }}<br>
    <strong>{% trans "Car quantity" %}:</strong> {{ num_car }} <br><br>
    <p>{% trans "You have visited here " %} {{ num_visits }} {% trans "times" %}.</p>
</div>
{% endblock %}