{% extends "base.html" %}

{% block content %}
<h2 class="text-center mt-4">My Orders</h2>
<div class="d-flex justify-content-center">
    {% if order_list %}
    <ul>

        {% for order in order_list %}
        <li class="{% if order.is_overdue %}text-danger{% endif %} mt-2">
            <a href="{% url 'order-detail' order.pk %}"> {{ order.car_id.license_plate }} </a> ( {{ order.date }} - {{ order.due_back }})
            <a class="btn btn-primary btn-sm" href="{{ order.pk }}" role="button">View</a>
        {% endfor %}
        </li>
    </ul>

    {% else %}
    <p>You don't have any orders yet.</p>
    {% endif %}
</div>
<div class="pagination d-flex justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">back</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}