{% extends "base.html" %}

{% block content %}
{% if validlink %}
<h1 class="text-center">Create new password</h1>
<div class="d-flex justify-content-center">
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="Change password"/></td>
            </tr>
        </table>
    </form>
    {% else %}
    <h1>Failed to change password</h1>
    <p>The password change link is invalid. Please initiate the password change again.</p>
    {% endif %}
</div>
{% endblock %}